USE [MentornoteDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2025-12-24 12:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppointmentDocumentEmbeddings]    Script Date: 2025-12-24 12:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentDocumentEmbeddings](
	[EmbeddingId] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentDocumentId] [int] NULL,
	[ChunkIndex] [int] NOT NULL,
	[ChunkText] [nvarchar](max) NULL,
	[Vector] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[AppointmentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmbeddingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppointmentNotes]    Script Date: 2025-12-24 12:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentNotes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[AppointmentId] [int] NOT NULL,
	[DocumentId] [uniqueidentifier] NOT NULL,
	[DocumentPath] [nvarchar](500) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[FileHash] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 2025-12-24 12:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[StartTime] [datetime2](7) NULL,   
	[EndTime] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[Status] [nvarchar](50) NULL,
	[Notes] [nvarchar](max) NULL,
	[Organizer] [nvarchar](200) NULL,
	[Date] [date] NULL,
	[SummaryExists] [bit] NOT NULL,
	[AppointmentType] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppointmentSummaries]    Script Date: 2025-12-24 12:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentSummaries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentId] [int] NOT NULL,
	[SummaryText] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BackgroundJobs]    Script Date: 2025-12-24 12:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BackgroundJobs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[JobType] [nvarchar](100) NOT NULL,
	[ReferenceId] [int] NULL,
	[ReferenceType] [nvarchar](100) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Payload] [nvarchar](max) NULL,
	[ResultMessage] [nvarchar](max) NULL,
	[ErrorTrace] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[StartedAt] [datetime2](7) NULL,
	[CompletedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flashcards]    Script Date: 2025-12-24 12:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flashcards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Front] [nvarchar](max) NOT NULL,
	[Back] [nvarchar](max) NOT NULL,
	[FlashcardSetId] [int] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[NoteId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlashcardSets]    Script Date: 2025-12-24 12:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlashcardSets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UserId] [int] NOT NULL,
	[Source] [nvarchar](max) NULL,
	[NoteId] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoteEmbeddings]    Script Date: 2025-12-24 12:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoteEmbeddings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NoteId] [int] NOT NULL,
	[ChunkText] [nvarchar](max) NOT NULL,
	[EmbeddingJson] [nvarchar](max) NOT NULL,
	[ChunkIndex] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notes]    Script Date: 2025-12-24 12:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](255) NULL,
	[FilePath] [nvarchar](max) NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
	[SourceType] [nvarchar](max) NULL,
	[SourceURL] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoteSummaries]    Script Date: 2025-12-24 12:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoteSummaries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UploadedNoteId] [int] NOT NULL,
	[SummaryText] [nvarchar](max) NOT NULL,
	[GeneratedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PortfolioItems]    Script Date: 2025-12-24 12:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PortfolioItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Link] [nvarchar](max) NOT NULL,
	[Tags] [nvarchar](max) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_PortfolioItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PracticeExamQuestions]    Script Date: 2025-12-24 12:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PracticeExamQuestions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PracticeExamId] [int] NOT NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[AnswerText] [nvarchar](max) NULL,
	[QuestionType] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PracticeExams]    Script Date: 2025-12-24 12:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PracticeExams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NoteId] [int] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Score] [int] NULL,
	[TotalQuestions] [int] NULL,
	[CompletedAt] [datetime] NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PracticeQuestionChoices]    Script Date: 2025-12-24 12:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PracticeQuestionChoices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PracticeExamQuestionId] [int] NOT NULL,
	[ChoiceText] [nvarchar](max) NOT NULL,
	[IsCorrect] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 2025-12-24 12:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Token] [nvarchar](500) NOT NULL,
	[ExpiresAt] [datetime] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[RevokedAt] [datetime] NULL,
	[ReplacedByToken] [nvarchar](500) NULL,
	[Email] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpeechCapture]    Script Date: 2025-12-24 12:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpeechCapture](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[TranscriptFilePath] [nvarchar](255) NOT NULL,
	[DurationSeconds] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[Title] [nvarchar](max) NULL,
	[AudioFilePath] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpeechCaptureChat]    Script Date: 2025-12-24 12:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpeechCaptureChat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SpeechCaptureId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[SenderType] [nvarchar](10) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[Response] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpeechCaptureEmbeddings]    Script Date: 2025-12-24 12:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpeechCaptureEmbeddings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CaptureId] [int] NOT NULL,
	[Embedding] [nvarchar](max) NULL,
	[ChunkIndex] [int] NOT NULL,
	[ChunkText] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpeechCaptureSummary]    Script Date: 2025-12-24 12:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpeechCaptureSummary](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SpeechCaptureId] [int] NOT NULL,
	[SummaryText] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TutorMessages]    Script Date: 2025-12-24 12:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TutorMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NoteId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Message] [text] NOT NULL,
	[Response] [text] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2025-12-24 12:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [varbinary](max) NOT NULL,
	[PasswordSalt] [varbinary](max) NOT NULL,
	[AuthProvider] [nvarchar](100) NULL,
	[FirstName] [varchar](32) NULL,
	[LastName] [varchar](32) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UserType] [nvarchar](50) NOT NULL,
	[TrialMeetingsRemaining] [int] NOT NULL,
	[IsSubscribed] [bit] NOT NULL,
	[StripeCustomerId] [nvarchar](255) NULL,
	[StripeSubscriptionId] [nvarchar](255) NULL,
	[PasswordChangedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users_OLD]    Script Date: 2025-12-24 12:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users_OLD](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[AuthProvider] [nvarchar](100) NULL,
	[PasswordHash] [varbinary](max) NOT NULL,
	[PasswordSalt] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSettings]    Script Date: 2025-12-24 12:18:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSettings](
	[UserId] [int] NOT NULL,
	[RecentUtteranceCount] [int] NOT NULL,
	[ResponseFormat] [int] NOT NULL,
	[ResponseTone] [int] NOT NULL,
	[ResumeUsage] [int] NOT NULL,
	[Creativity] [float] NOT NULL,
	[Theme] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_PortfolioItems_UserId]    Script Date: 2025-12-24 12:18:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_PortfolioItems_UserId] ON [dbo].[PortfolioItems]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AppointmentDocumentEmbeddings] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AppointmentNotes] ADD  DEFAULT (newid()) FOR [DocumentId]
GO
ALTER TABLE [dbo].[AppointmentNotes] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT ((0)) FOR [SummaryExists]
GO
ALTER TABLE [dbo].[AppointmentSummaries] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BackgroundJobs] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[BackgroundJobs] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[FlashcardSets] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[NoteEmbeddings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notes] ADD  DEFAULT (getdate()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[NoteSummaries] ADD  DEFAULT (getdate()) FOR [GeneratedAt]
GO
ALTER TABLE [dbo].[PracticeExams] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PracticeQuestionChoices] ADD  DEFAULT ((0)) FOR [IsCorrect]
GO
ALTER TABLE [dbo].[SpeechCapture] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SpeechCaptureChat] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SpeechCaptureEmbeddings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SpeechCaptureSummary] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TutorMessages] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Free') FOR [UserType]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_TrialMeetingsRemaining]  DEFAULT ((5)) FOR [TrialMeetingsRemaining]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsSubscribed]  DEFAULT ((0)) FOR [IsSubscribed]
GO
ALTER TABLE [dbo].[UserSettings] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserSettings] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[AppointmentDocumentEmbeddings]  WITH CHECK ADD FOREIGN KEY([AppointmentDocumentId])
REFERENCES [dbo].[AppointmentNotes] ([Id])
GO
ALTER TABLE [dbo].[AppointmentDocumentEmbeddings]  WITH CHECK ADD FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([Id])
GO
ALTER TABLE [dbo].[AppointmentNotes]  WITH CHECK ADD  CONSTRAINT [FK_AppointmentVectors_Appointments] FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([Id])
GO
ALTER TABLE [dbo].[AppointmentNotes] CHECK CONSTRAINT [FK_AppointmentVectors_Appointments]
GO
ALTER TABLE [dbo].[AppointmentNotes]  WITH CHECK ADD  CONSTRAINT [FK_AppointmentVectors_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[AppointmentNotes] CHECK CONSTRAINT [FK_AppointmentVectors_Users]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Users]
GO
ALTER TABLE [dbo].[AppointmentSummaries]  WITH CHECK ADD  CONSTRAINT [FK_AppointmentSummaries_Appointments] FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AppointmentSummaries] CHECK CONSTRAINT [FK_AppointmentSummaries_Appointments]
GO
ALTER TABLE [dbo].[Flashcards]  WITH CHECK ADD FOREIGN KEY([FlashcardSetId])
REFERENCES [dbo].[FlashcardSets] ([Id])
GO
ALTER TABLE [dbo].[NoteEmbeddings]  WITH CHECK ADD FOREIGN KEY([NoteId])
REFERENCES [dbo].[Notes] ([Id])
GO
ALTER TABLE [dbo].[Notes]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[NoteSummaries]  WITH CHECK ADD  CONSTRAINT [FK_NoteSummaries_UploadedNotes] FOREIGN KEY([UploadedNoteId])
REFERENCES [dbo].[Notes] ([Id])
GO
ALTER TABLE [dbo].[NoteSummaries] CHECK CONSTRAINT [FK_NoteSummaries_UploadedNotes]
GO
ALTER TABLE [dbo].[PortfolioItems]  WITH CHECK ADD  CONSTRAINT [FK_PortfolioItems_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users_OLD] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PortfolioItems] CHECK CONSTRAINT [FK_PortfolioItems_Users_UserId]
GO
ALTER TABLE [dbo].[PracticeExamQuestions]  WITH CHECK ADD FOREIGN KEY([PracticeExamId])
REFERENCES [dbo].[PracticeExams] ([Id])
GO
ALTER TABLE [dbo].[PracticeExams]  WITH CHECK ADD FOREIGN KEY([NoteId])
REFERENCES [dbo].[Notes] ([Id])
GO
ALTER TABLE [dbo].[PracticeQuestionChoices]  WITH CHECK ADD FOREIGN KEY([PracticeExamQuestionId])
REFERENCES [dbo].[PracticeExamQuestions] ([Id])
GO
ALTER TABLE [dbo].[SpeechCaptureEmbeddings]  WITH CHECK ADD FOREIGN KEY([CaptureId])
REFERENCES [dbo].[SpeechCapture] ([Id])
GO
ALTER TABLE [dbo].[SpeechCaptureSummary]  WITH CHECK ADD FOREIGN KEY([SpeechCaptureId])
REFERENCES [dbo].[SpeechCapture] ([Id])
GO
ALTER TABLE [dbo].[TutorMessages]  WITH CHECK ADD FOREIGN KEY([NoteId])
REFERENCES [dbo].[Notes] ([Id])
GO
ALTER TABLE [dbo].[TutorMessages]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[ActivateSubscription]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActivateSubscription]
    @UserId INT,
    @StripeCustomerId NVARCHAR(255),
    @StripeSubscriptionId NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET 
        IsSubscribed = 1,
        StripeCustomerId = @StripeCustomerId,
        StripeSubscriptionId = @StripeSubscriptionId
    WHERE Id = @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[AddAppointment]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AddAppointment]
    @UserId INT,
    @Title NVARCHAR(200),
    @StartTime DATETIME2 = NULL,
    @EndTime DATETIME2 = NULL,
    @Status NVARCHAR(50) = NULL,
    @Notes NVARCHAR(MAX) = NULL,
	@Date DATE = NULL,
	@Organizer NVARCHAR(200) = NULL,
	@AppointmentType NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Appointments (UserId, Title, StartTime, EndTime, Status, Notes, CreatedAt, [Date], Organizer, AppointmentType)
    VALUES (@UserId, @Title, @StartTime, @EndTime, @Status, @Notes, SYSUTCDATETIME(), @Date, @Organizer, @AppointmentType);

    SELECT SCOPE_IDENTITY() AS AppointmentId;
END;
GO
/****** Object:  StoredProcedure [dbo].[AddAppointmentDocument]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AddAppointmentDocument]
    @UserId INT,
    @AppointmentId INT,
    @DocumentPath NVARCHAR(500),
	@FileHash NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO AppointmentNotes (UserId, AppointmentId, DocumentPath, CreatedAt,FileHash)
    VALUES (@UserId, @AppointmentId, @DocumentPath, SYSUTCDATETIME(), @FileHash);

  
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS AppointmentNoteId;
END;
GO
/****** Object:  StoredProcedure [dbo].[AddAppointmentDocumentEmbedding]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AddAppointmentDocumentEmbedding]
    @AppointmentDocumentId INT,
	@AppointmentId INT,
    @ChunkIndex INT,
    @ChunkText NVARCHAR(MAX),
    @Vector NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO AppointmentDocumentEmbeddings
        (AppointmentDocumentId, AppointmentId, ChunkIndex, ChunkText, Vector, CreatedAt)
    VALUES
        (@AppointmentDocumentId, @AppointmentId , @ChunkIndex, @ChunkText, @Vector, SYSUTCDATETIME());

    -- Return the ID of the inserted embedding (if you need it in C#)
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS EmbeddingId;
END;
GO
/****** Object:  StoredProcedure [dbo].[AddAppointmentSummary]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AddAppointmentSummary]
    @AppointmentId INT,
    @SummaryText NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO AppointmentSummaries (AppointmentId, SummaryText)
    VALUES (@AppointmentId, @SummaryText);

	 -- Mark the parent appointment as having a summary
    UPDATE Appointments
    SET SummaryExists = 1
    WHERE Id = @AppointmentId;

    SELECT SCOPE_IDENTITY() AS SummaryId;
END
GO
/****** Object:  StoredProcedure [dbo].[AddNote]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddNote]
	@UserId INT,
    @Title NVARCHAR(255),
    @FilePath NVARCHAR(MAX),
	@NewNoteId INT OUTPUT,
	@SourceType NVARCHAR(MAX),
	@SourceUrl NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Notes (UserId, Title, FilePath, UploadedAt,SourceType,SourceURL)
    VALUES (@UserId, @Title, @FilePath, SYSDATETIME(),@SourceType,@SourceUrl);

	-- Get the ID of the inserted note
    SET @NewNoteId = SCOPE_IDENTITY()
END;
GO
/****** Object:  StoredProcedure [dbo].[AddNoteEmbedding]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 2. Stored Procedure: Add a Chunk + Embedding
CREATE PROCEDURE [dbo].[AddNoteEmbedding]
    @NoteId INT,
    @ChunkText NVARCHAR(MAX),
    @EmbeddingJson NVARCHAR(MAX),
    @ChunkIndex INT
AS
BEGIN
    INSERT INTO NoteEmbeddings (NoteId, ChunkText, EmbeddingJson, ChunkIndex)
    VALUES (@NoteId, @ChunkText, @EmbeddingJson, @ChunkIndex);
END;
GO
/****** Object:  StoredProcedure [dbo].[AddNoteSummary]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddNoteSummary]
    @UploadedNoteId INT,
    @SummaryText NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO dbo.NoteSummaries (UploadedNoteId, SummaryText, GeneratedAt)
    VALUES (@UploadedNoteId, @SummaryText, SYSDATETIME())
END
GO
/****** Object:  StoredProcedure [dbo].[AddPracticeExam]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddPracticeExam]
    @NoteId INT,
    @UserId NVARCHAR(450),
    @Title NVARCHAR(255),
    @TotalQuestions INT,
	@NewExamId INT OUTPUT
AS
BEGIN
    INSERT INTO PracticeExams (NoteId, UserId, Title, Score, TotalQuestions, CreatedAt)
    VALUES (@NoteId, @UserId, @Title, 0, @TotalQuestions, GETDATE());

    SET @NewExamId = SCOPE_IDENTITY() ;
END
GO
/****** Object:  StoredProcedure [dbo].[AddPracticeExamQuestion]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddPracticeExamQuestion]
    @PracticeExamId INT,
    @QuestionText NVARCHAR(MAX),
    @AnswerText NVARCHAR(MAX),
    @QuestionType NVARCHAR(50),
	@NewQuestionId INT OUTPUT
AS
BEGIN
    INSERT INTO PracticeExamQuestions (PracticeExamId, QuestionText, AnswerText, QuestionType)
    VALUES (@PracticeExamId, @QuestionText, @AnswerText, @QuestionType);

    SET @NewQuestionId = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[AddPracticeQuestionChoice]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddPracticeQuestionChoice]
    @PracticeExamQuestionId INT,
    @ChoiceText NVARCHAR(MAX),
    @IsCorrect BIT,
	@NewChoiceId INT OUTPUT
AS
BEGIN
    INSERT INTO PracticeQuestionChoices (PracticeExamQuestionId, ChoiceText, IsCorrect)
    VALUES (@PracticeExamQuestionId, @ChoiceText, @IsCorrect);

	SET @NewChoiceId = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[AddSpeechCapture]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddSpeechCapture]
    @UserId INT,
    @TranscriptFilePath NVARCHAR(255),
	@AudioFilePath NVARCHAR(255),
    @DurationSeconds INT = NULL,
	@Title NVARCHAR(MAX) 
AS
BEGIN
    INSERT INTO SpeechCapture (UserId, TranscriptFilePath, AudioFilePath, DurationSeconds, CreatedAt, Title)
    VALUES (@UserId, @TranscriptFilePath, @AudioFilePath , @DurationSeconds, GETDATE(), @Title);
END
GO
/****** Object:  StoredProcedure [dbo].[AddSpeechCaptureChat]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddSpeechCaptureChat]
    @SpeechCaptureId INT,
    @UserId INT,
    @SenderType NVARCHAR(10),
    @Message NVARCHAR(MAX),
	@Response NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    -- Add new message
    INSERT INTO SpeechCaptureChat (SpeechCaptureId, UserId, SenderType, Message, Response, CreatedAt)
    VALUES (@SpeechCaptureId, @UserId, @SenderType, @Message, @Response, GETDATE());

    -- Keep only the 100 most recent messages per recording
    DECLARE @MaxMessages INT = 100;

    WITH OrderedMessages AS (
        SELECT Id,
               ROW_NUMBER() OVER (PARTITION BY SpeechCaptureId ORDER BY CreatedAt DESC) AS RowNum
        FROM SpeechCaptureChat
        WHERE SpeechCaptureId = @SpeechCaptureId
    )
    DELETE FROM SpeechCaptureChat
    WHERE Id IN (SELECT Id FROM OrderedMessages WHERE RowNum > @MaxMessages);
END;
GO
/****** Object:  StoredProcedure [dbo].[AddSpeechCaptureEmbedding]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddSpeechCaptureEmbedding]
    @CaptureId INT,
    @ChunkIndex INT,
    @ChunkText NVARCHAR(MAX),
    @Embedding NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO SpeechCaptureEmbeddings (CaptureId, ChunkIndex, ChunkText, Embedding, CreatedAt)
    VALUES (@CaptureId, @ChunkIndex, @ChunkText, @Embedding, GETDATE());
END;
GO
/****** Object:  StoredProcedure [dbo].[AddSpeechCaptureSummary]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddSpeechCaptureSummary]
    @SpeechCaptureId INT,
    @SummaryText NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO SpeechCaptureSummary (SpeechCaptureId, SummaryText)
    VALUES (@SpeechCaptureId, @SummaryText);
END;
GO
/****** Object:  StoredProcedure [dbo].[AddTutorMessage]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddTutorMessage]
    @NoteId INT,
    @UserId INT,
    @Message NVARCHAR(MAX),
    @Response NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO TutorMessages (NoteId, UserId, Message, Response, CreatedAt)
    VALUES (@NoteId, @UserId, @Message, @Response, GETDATE());
END;
GO
/****** Object:  StoredProcedure [dbo].[CompletePracticeExam]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CompletePracticeExam]
    @ExamId INT,
    @Score INT
AS
BEGIN
    UPDATE PracticeExams
    SET Score = @Score,
        CompletedAt = GETDATE()
    WHERE Id = @ExamId;
END
GO
/****** Object:  StoredProcedure [dbo].[CreateBackgroundJob]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateBackgroundJob]
    @JobType NVARCHAR(100),
    @ReferenceId INT = NULL,
    @ReferenceType NVARCHAR(100) = NULL,
    @Payload NVARCHAR(MAX) = NULL,
    @JobId BIGINT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO BackgroundJobs (JobType, ReferenceId, ReferenceType, Payload, Status, CreatedAt)
    VALUES (@JobType, @ReferenceId, @ReferenceType, @Payload, 'Pending', SYSUTCDATETIME());

    SET @JobId = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[DeactivateSubscription]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeactivateSubscription]
    @StripeSubscriptionId NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET IsSubscribed = 0
    WHERE StripeSubscriptionId = @StripeSubscriptionId;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteAppointment]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[DeleteAppointment]
(
    @AppointmentId INT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN

        -- 1️⃣ Delete document embeddings for this appointment
        DELETE FROM AppointmentDocumentEmbeddings
        WHERE AppointmentId = @AppointmentId;

        -- 2️⃣ Delete notes for this appointment
        DELETE FROM AppointmentNotes
        WHERE AppointmentId = @AppointmentId;

        -- 3️⃣ Delete the appointment itself
        DELETE FROM Appointments
        WHERE Id = @AppointmentId;

        COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRAN;

        -- Throw an error back to C#
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteAppointmentDocument]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[DeleteAppointmentDocument]
    @DocumentId INT,
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Delete embeddings/chunks FIRST
        DELETE FROM AppointmentDocumentEmbeddings 
        WHERE AppointmentDocumentId    = @DocumentId;

        -- Delete the main document record
        DELETE FROM AppointmentNotes
        WHERE Id = @DocumentId
        AND UserId = @UserId;

        COMMIT TRANSACTION;

        SELECT 1 AS Success;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteNote]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteNote]
    @NoteId INT
AS
BEGIN
    SET NOCOUNT ON;

	DELETE FROM NoteSummaries WHERE UploadedNoteId = @NoteId
	DELETE FROM Flashcards WHERE NoteId = @NoteId
	DELETE FROM FlashcardSets WHERE NoteId = @NoteId
	DELETE FROM NoteEmbeddings WHERE NoteId = @NoteId
	DELETE FROM TutorMessages WHERE NoteId = @NoteId
    DELETE FROM dbo.Notes
    WHERE Id = @NoteId
	Exec DeletePracticeExamByNote @NoteId;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteNoteEmbeddingsByNoteId]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 4. Stored Procedure: Delete All Embeddings for a Note
CREATE PROCEDURE [dbo].[DeleteNoteEmbeddingsByNoteId]
    @NoteId INT
AS
BEGIN
    DELETE FROM NoteEmbeddings
    WHERE NoteId = @NoteId;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeletePracticeExam]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeletePracticeExam]
    @PracticeExamId INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Step 1: Delete Choices for Questions under this exam
        DELETE FROM PracticeQuestionChoices
        WHERE PracticeExamQuestionId IN (
            SELECT Id FROM PracticeExamQuestions WHERE PracticeExamId = @PracticeExamId
        );

        -- Step 2: Delete Questions under this exam
        DELETE FROM PracticeExamQuestions
        WHERE PracticeExamId = @PracticeExamId;

        -- Step 3: Delete the exam itself
        DELETE FROM PracticeExams
        WHERE Id = @PracticeExamId;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[DeletePracticeExamByNote]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeletePracticeExamByNote]
    @NoteId INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Step 1: Delete choices for all questions belonging to exams tied to this note
        DELETE FROM PracticeQuestionChoices
        WHERE PracticeExamQuestionId IN (
            SELECT q.Id
            FROM PracticeExamQuestions q
            INNER JOIN PracticeExams e ON q.PracticeExamId = e.Id
            WHERE e.NoteId = @NoteId
        );

        -- Step 2: Delete questions for exams tied to this note
        DELETE FROM PracticeExamQuestions
        WHERE PracticeExamId IN (
            SELECT Id FROM PracticeExams WHERE NoteId = @NoteId
        );

        -- Step 3: Delete the exams themselves
        DELETE FROM PracticeExams
        WHERE NoteId = @NoteId;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteRefreshToken]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[DeleteRefreshToken]
    @TokenId INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM RefreshTokens
    WHERE Id = @TokenId;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteSpeechCapture]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteSpeechCapture]
    @Id INT
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        DELETE FROM SpeechCaptureChat
        WHERE SpeechCaptureId = @Id;
   
        DELETE FROM SpeechCaptureSummary
        WHERE SpeechCaptureId = @Id;      
        DELETE FROM SpeechCaptureEmbeddings
        WHERE CaptureId = @Id;

 
        DELETE FROM SpeechCapture
        WHERE Id = @Id;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteSpeechCaptureChat]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteSpeechCaptureChat]
    @SpeechCaptureId INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM SpeechCaptureChat
    WHERE SpeechCaptureId = @SpeechCaptureId;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteSpeechCaptureSummary]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteSpeechCaptureSummary]
    @Id INT
AS
BEGIN
    Delete FROM  SpeechCaptureSummary 
    WHERE Id = @Id
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllSpeechCaptures]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllSpeechCaptures]
    @UserId INT = NULL
AS
BEGIN
        SELECT 
            Id,
            UserId,
            TranscriptFilePath,
			AudioFilePath,
            DurationSeconds,
            CreatedAt,
			Title
        FROM SpeechCapture
        WHERE UserId = @UserId
        ORDER BY CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAppointmentById]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetAppointmentById]
    @UserId INT,
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM Appointments
    WHERE Id = @Id AND UserId = @UserId;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAppointmentDocumentsById]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetAppointmentDocumentsById]
(
    @AppointmentId INT,
	@UserId INT 
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Id,
        UserId,
        AppointmentId,
        DocumentId,
        DocumentPath,
        CreatedAt,
		FileHash
    FROM AppointmentNotes
    WHERE AppointmentId = @AppointmentId
	AND UserId = @UserId
    ORDER BY CreatedAt ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAppointmentNotes]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetAppointmentNotes]
    @UserId INT,
    @AppointmentId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM AppointmentNotes
    WHERE UserId = @UserId AND AppointmentId = @AppointmentId
    ORDER BY CreatedAt DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAppointmentSummary]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetAppointmentSummary]
    @AppointmentId INT
AS
BEGIN
    SELECT*
    FROM AppointmentSummaries
    WHERE AppointmentId = @AppointmentId
    ORDER BY CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[GetBackgroundJob]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBackgroundJob]
    @JobId BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id, JobType, Status, ResultMessage, CreatedAt, StartedAt, CompletedAt
    FROM BackgroundJobs
    WHERE Id = @JobId;
END
GO
/****** Object:  StoredProcedure [dbo].[GetDocumentChunksForAppointment]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetDocumentChunksForAppointment]
    @AppointmentId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        EmbeddingId,
        AppointmentId,
        AppointmentDocumentId,
        ChunkText,
		ChunkIndex,
        Vector
    FROM 
       AppointmentDocumentEmbeddings
    WHERE 
        AppointmentId = @AppointmentId;
END
GO
/****** Object:  StoredProcedure [dbo].[GetNoteById]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetNoteById]
    @NoteId INT,
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Id,
        UserId,
        Title,
        FilePath,
        UploadedAt
    FROM Notes
    WHERE Id = @NoteId AND UserId = @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[GetNoteEmbeddingsByNoteId]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetNoteEmbeddingsByNoteId]
    @NoteId INT
AS
BEGIN
    SELECT ChunkText, EmbeddingJson, ChunkIndex
    FROM NoteEmbeddings
    WHERE NoteId = @NoteId
    ORDER BY ChunkIndex;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetNotes]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetNotes]
	@UserId INT 
AS 
BEGIN
SET NOCOUNT ON;
	  SELECT 
	   Id,
	   UserId,
	   Title,
	   FilePath,
	   UploadedAt
	   FROM Notes WHERE UserId = @UserId
END
GO
/****** Object:  StoredProcedure [dbo].[GetNotesSummary]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetNotesSummary]
	@NoteId INT 
AS 
BEGIN
SET NOCOUNT ON;
	  SELECT 
	   Id,
	   UploadedNoteId,
	   SummaryText,
	   GeneratedAt
	   FROM NoteSummaries WHERE UploadedNoteId = @NoteId
END
GO
/****** Object:  StoredProcedure [dbo].[GetPracticeExamWithQuestions]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetPracticeExamWithQuestions]
     @NoteId INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Get the exam linked to this note
    SELECT * 
    FROM PracticeExams
    WHERE NoteId = @NoteId;

    -- Get the questions for that exam
    SELECT q.* 
    FROM PracticeExamQuestions q
    INNER JOIN PracticeExams e ON e.Id = q.PracticeExamId
    WHERE e.NoteId = @NoteId;

    -- Get the choices for those questions
    SELECT c.* 
    FROM PracticeQuestionChoices c
    INNER JOIN PracticeExamQuestions q ON q.Id = c.PracticeExamQuestionId
    INNER JOIN PracticeExams e ON e.Id = q.PracticeExamId
    WHERE e.NoteId = @NoteId;
END
GO
/****** Object:  StoredProcedure [dbo].[GetRefreshToken]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetRefreshToken]
    @Token NVARCHAR(500)
AS
BEGIN
    SELECT TOP 1 *
    FROM RefreshTokens
    WHERE Token = @Token;
END
GO
/****** Object:  StoredProcedure [dbo].[GetSpeechCaptureById]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSpeechCaptureById]
    @Id INT
AS
BEGIN
    SELECT 
        Id,
        UserId,
        TranscriptFilePath,
		AudioFilePath,
        DurationSeconds,
        CreatedAt,
		Title
    FROM SpeechCapture
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[GetSpeechCaptureChat]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSpeechCaptureChat]
    @SpeechCaptureId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id, SpeechCaptureId, UserId, SenderType, Message, Response, CreatedAt
    FROM SpeechCaptureChat
    WHERE SpeechCaptureId = @SpeechCaptureId
    ORDER BY CreatedAt ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetSpeechCaptureEmbeddingById]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSpeechCaptureEmbeddingById]
    @CaptureId INT
AS
BEGIN
    SELECT *
    FROM SpeechCaptureEmbeddings
    WHERE CaptureId = @CaptureId;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetSpeechCaptureSummaryByCapture]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSpeechCaptureSummaryByCapture] 
	@CaptureId INT
AS 
BEGIN
  SELECT * FROM SpeechCaptureSummary 
  WHERE SpeechCaptureId = @CaptureId
END;
GO
/****** Object:  StoredProcedure [dbo].[GetStripeCustomerId]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStripeCustomerId]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT StripeCustomerId
    FROM Users
    WHERE Id = @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[GetTutorMessagesByNoteId]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTutorMessagesByNoteId]
    @NoteId INT,
    @UserId INT
AS
BEGIN
    SELECT Message, Response, CreatedAt
    FROM TutorMessages
    WHERE NoteId = @NoteId AND UserId = @UserId
    ORDER BY CreatedAt;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetUserAppointments]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetUserAppointments]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM Appointments
    WHERE UserId = @UserId
    ORDER BY CreatedAt DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetUserByEmail]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetUserByEmail]
    @Email NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        *
    FROM dbo.Users
    WHERE Email = @Email;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetUserById]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetUserById]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Users
    WHERE Id = @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserFlashcards]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserFlashcards]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        fcs.Id AS FlashcardSetId,
        fcs.Title AS FlashcardSetTitle,
        fcs.CreatedAt,
        fcs.Source,
		fcs.UserId,
        f.Id AS FlashcardId,
        f.Front,
        f.Back,
		f.NoteId
    FROM dbo.FlashcardSets fcs
    INNER JOIN dbo.Flashcards f 
        ON fcs.Id = f.FlashcardSetId
    WHERE fcs.UserId = @UserId
    ORDER BY fcs.CreatedAt DESC, f.Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetUserSettings]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserSettings]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        UserId,
        ResponseFormat,
        ResponseTone,
        ResumeUsage,
        Theme,
        RecentUtteranceCount,
        Creativity,
        CreatedAt,
        UpdatedAt
    FROM UserSettings
    WHERE UserId = @UserId;
END;
GO
/****** Object:  StoredProcedure [dbo].[RegisterUser]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[RegisterUser]
    @Email NVARCHAR(200),
    @PasswordHash VARBINARY(MAX),
    @PasswordSalt VARBINARY(MAX),
    @UserId INT OUTPUT,
	@Firstname VARCHAR(32),
	@LastName VARCHAR(32),
	@UserType NVARCHAR(50),
	@AuthProvider NVARCHAR(100),
	@TrialMeetingsRemaining INT,
	@IsSubscribed BIT 
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Users WHERE Email = @Email)
    BEGIN
        SET @UserId = -1;
        RETURN;
    END

    INSERT INTO Users (FirstName, LastName, Email, PasswordHash, PasswordSalt, CreatedAt, UserType, AuthProvider, TrialMeetingsRemaining, IsSubscribed)
    VALUES (@FirstName, @LastName, @Email, @PasswordHash, @PasswordSalt, SYSUTCDATETIME(), @UserType, @AuthProvider, @TrialMeetingsRemaining, @IsSubscribed);

    SET @UserId = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[RevokeRefreshToken]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[RevokeRefreshToken]
    @Id INT,
    @ReplacedByToken NVARCHAR(500)
AS
BEGIN
    UPDATE RefreshTokens
    SET 
        RevokedAt = SYSUTCDATETIME(),
        ReplacedByToken = @ReplacedByToken
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[SaveRefreshToken]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SaveRefreshToken]
    @UserId INT,
    @Email NVARCHAR(200),
    @Token NVARCHAR(500),
    @ExpiresAt DATETIME,
    @CreatedAt DATETIME
AS
BEGIN
    INSERT INTO RefreshTokens (UserId, Email, Token, ExpiresAt, CreatedAt)
    VALUES (@UserId, @Email, @Token, @ExpiresAt, @CreatedAt);
END
GO
/****** Object:  StoredProcedure [dbo].[SaveUserSettings]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveUserSettings]
    @UserId INT,
    @ResponseFormat INT,
    @ResponseTone INT,
    @ResumeUsage INT,
    @Theme INT,
    @RecentUtteranceCount INT,
    @Creativity FLOAT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM UserSettings WHERE UserId = @UserId)
    BEGIN
        UPDATE UserSettings
        SET
            ResponseFormat = @ResponseFormat,
            ResponseTone = @ResponseTone,
            ResumeUsage = @ResumeUsage,
            Theme = @Theme,
            RecentUtteranceCount = @RecentUtteranceCount,
            Creativity = @Creativity,
            UpdatedAt = SYSUTCDATETIME()
        WHERE UserId = @UserId;
    END
    ELSE
    BEGIN
        INSERT INTO UserSettings
        (
            UserId,
            ResponseFormat,
            ResponseTone,
            ResumeUsage,
            Theme,
            RecentUtteranceCount,
            Creativity
        )
        VALUES
        (
            @UserId,
            @ResponseFormat,
            @ResponseTone,
            @ResumeUsage,
            @Theme,
            @RecentUtteranceCount,
            @Creativity
        );
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateAppointment]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   Procedure [dbo].[UpdateAppointment]
	@AppointmentId INT,
	@Title NVARCHAR(200),
    @Date DATE,
    @StartTime DATETIME,
    @EndTime DATETIME,
    @Organizer NVARCHAR(200),
    @Status NVARCHAR(50),
	@UserId INT,
	@AppointmentType NVARCHAR(MAX)
AS
BEGIN 
	UPDATE Appointments 
	SET 
	Title = @Title,
	StartTime = @StartTime,
	EndTime = @EndTime,
	UpdatedAt = SYSUTCDATETIME(),
	Status = @Status,
	Organizer = @Organizer,
	Date = @Date,
	AppointmentType = @AppointmentType

	WHERE Appointments.Id = @AppointmentId
	AND UserId = @UserId
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateBackgroundJob]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateBackgroundJob]
    @JobId BIGINT,
    @Status NVARCHAR(50),
    @ResultMessage NVARCHAR(MAX) = NULL,
    @ErrorTrace NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE BackgroundJobs
    SET
        Status = @Status,
        ResultMessage = @ResultMessage,
        ErrorTrace = @ErrorTrace,
        UpdatedAt = SYSUTCDATETIME(),
        StartedAt = CASE WHEN @Status = 'Processing' THEN SYSUTCDATETIME() ELSE StartedAt END,
        CompletedAt = CASE WHEN @Status IN ('Completed', 'Failed') THEN SYSUTCDATETIME() ELSE CompletedAt END
    WHERE Id = @JobId;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateNote]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateNote]
    @NoteId INT,
    @UserId INT,
    @Title NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Notes
    SET
        Title = @Title
    WHERE
        Id = @NoteId AND UserId = @UserId;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateUserPassword]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UpdateUserPassword]
    @UserId INT,
    @PasswordHash VARBINARY(64),
    @PasswordSalt VARBINARY(128),
    @PasswordChangedAt DATETIME2
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET PasswordHash = @PasswordHash,
        PasswordSalt = @PasswordSalt,
        PasswordChangedAt = @PasswordChangedAt
    WHERE Id = @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateUserTrialAfterMeeting]    Script Date: 2025-12-24 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUserTrialAfterMeeting]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET TrialMeetingsRemaining = TrialMeetingsRemaining - 1
    WHERE
        Id = @UserId
        AND IsSubscribed = 0
        AND TrialMeetingsRemaining > 0;
END
GO
USE [master]
GO
