@page
@model Mentornote.Pages.Shared.StartModel
@{
}
<div class="startpagecont">
    <nav>
        <ul class="startnav">
            <li class="startnavitem">
                <a class="startnavlink" href="~/">Notes</a>
            </li>
            <li class="startnavitem">
                <a class="startnavlink" href="~/">Start</a>
            </li>
        </ul>
    </nav>
    <div class="start-con-holder">
        <h2>How Would You like to Begin</h2>
        <form name="start-form" method="post" class="start-form" enctype="multipart/form-data">
            @Html.AntiForgeryToken() <!-- Required for Razor Pages -->
            <div class="startform">
                <ul>
                    <li>
                        <input type="file"  name="UploadedNote" required>
                        <input type="submit" name="Submit" value="Upload" class="btn"/>
                    </li>
                    <li>
                        <input type="text" id="Video" name="video" required>
                        <input type="submit" name="Sumbit" value="Video Post" />
                    </li>
                    <li>
                        <input type="text" id="Text" name="text" required>
                        <input type="submit" name="Sumbit" value="Video Post" />
                    </li>
                </ul>
            </div>
        </form>
        <div class="notes-cards-container">
            <p class="cont-head">My Notes</p>
            @foreach (var flashcardset in @Model.FlashcardSets)
            {
                <div class="notes-cards">
                    <p class="note-title">@flashcardset.Title</p>
                </div>
            }
        </div>
    </div>
</div>



