@page
@model Mentornote.Pages.Shared.StartModel
@{
}
<div class="startpagecont">
    <nav>
        <ul class="startnav">
            <li class="startnavitem">
                <a class="startnavlink" href="~/">Notes</a>
            </li>
            <li class="startnavitem">
                <a class="startnavlink" href="~/">Start</a>
            </li>
        </ul>
    </nav>
    <div class="start-con-holder">
        <h2>How Would You like to Begin</h2>
        <form class="start-form">
            <div class="startform">
                <ul>
                    <li>
                        <input type="file" id="Audio" name="Audio" required>
                        <input type="submit" name="Audio Sumbit" value="Audio Post" />
                    </li>
                    <li>
                        <input type="text" id="Video" name="video" required>
                        <input type="submit" name="Video Sumbit" value="Video Post" />
                    </li>
                    <li>
                        <input type="text" id="Text" name="text" required>
                        <input type="submit" name="Video Sumbit" value="Video Post" />
                    </li>
                </ul>
            </div>
        </form>
        <div class="notes-cards-container">
            <div class="notes-cards">
                <p class="note-title">Chemisty Notes</p>
                <p class="note-content">Chemistry is the study of matter, its properties, and how it interacts with other matter and energy.</p>
            </div>
            <div class="notes-cards">
                <p class="note-title">Physice Notes</p>
                <p class="note-content">Chemistry is the study of matter, its properties, and how it interacts with other matter and energy.</p>
            </div>
            <div class="notes-cards">
                <p class="note-title">Math Notes</p>
                <p class="note-content">Chemistry is the study of matter, its properties, and how it interacts with other matter and energy.</p>
            </div>
        </div>
    </div>
</div>



