@page
@model Mentornote.Pages.Functionalities.FlashCardsModel
@{
    Layout = "Navigation";
}
<div class="fg">
    <h1>Flashcards</h1>
    <div class="func-holder">
        <div>
            <p>Flashcards are a great way to memorize information. You can create flashcards for any topic you want.</p>
        </div>
        <div class="flashcard-container">
            <div class="flashcard">
                <div class="front">
                    <h2>Question</h2>
                    <p>What is the capital of France?</p>
                </div>
                <div class="back">
                    <h2>Answer</h2>
                    <p>The capital of France is Paris.</p>
                </div>
            </div>
        </div>
    </div>
</div>
