@page
@model Mentornote.Pages.Functionalities.FlashCardsModel
@{
    Layout = "Navigation";
}
<div class="fg">
    <h1>Flashcards</h1>
    <div class="func-holder">
        <div class="notes-holder">
            <p>Your cards</p>
            <div class="notes-container">
                <ul>
                    <li>Math</li>
                    <li>English</li>
                    <li>Chamistry</li>
                    <li>Social Studies</li>
                    <li>Basic Technology</li>
                    <li>Physics</li>
                </ul>
            </div>
        </div>
        <div class="flashcard-container">
            <section class="upload-section">
                <h2>Upload Your Notes</h2>
                <input type="file" accept=".pdf">
            </section>

            <div class="flashcard">
                <div class="front">
                    <h2>Question</h2>
                    <p>What is the capital of France?</p>
                </div>
                <div class="back">
                    <h2>Answer</h2>
                    <p>The capital of France is Paris.</p>
                </div>
            </div>
        </div>
    </div>
</div>
