@page
@model Mentornote.Pages.Functionalities.SummaryModel
@{
    Layout = "Navigation";
}
<div class="header">
    <div>
        <h1>Summary</h1>
        <button id="menu-btn" class="menu-btn">☰</button>
    </div>
    <span class="module-info">
        <span class="created-date">Created @Model.Note.UploadedAt.ToString("dd-MM-yyyy")</span>
        <a href="@Model.Note.FilePath" target="_blank" class="view-original">View Original</a>
    </span>
</div>
<div class="fg">
    <div class="summary-main-content">
        <div class="summary-summary-box">
            <p>
                @Html.Raw(Model.HtmlSummary)
            </p>
        </div>
    </div>
</div>